:root {
  --body-bg-color: #171717; /* Example: a light grey color */
  --primary-color:  #104210ff; 
  --secondary-color:#76b947;
  font-size: 16px;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%; /* Prevents iOS from auto-resizing text */
  font-size: 100%; /* Respects user browser settings */
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-bg-color);
  line-height: 1.5; /* Essential for readability on mobile */
  -webkit-font-smoothing: antialiased;

}

.centertext {
  display: grid;
  place-items: center; /* This single line centers content both ways within the container */
  height: 100vh; /* Ensure the container covers the full viewport height */
  text-align: center;
  font-family: sans-serif;
}

#tradequote {
  color: white;
  text-align: center;
  top: 50%;
}

.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: var(--body-bg-color);
  font-size: 1rem;
  font-weight: 500;
}

.header-logo {
   margin: 20px 35px;
}

.logo img {
  width: 100px;
}

.menubar ul {
  list-style: none;
  display: flex;
}

.menubar ul li {
  padding: 10px 40px;
  position: relative;
}

.menubar ul li a {
  text-decoration: none;
  transition: all 0.3s;
  color: var(--primary-color);
  font-size: 2rem; /* Initial font size */
  transition: font-size 0.3s ease; /* Smooth transition for font size change */
}

.menubar ul li a:hover {
  color: var(--secondary-color);
  font-size: 2.5rem;
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

.introcontainer {
  position: relative;
  width: 100%; /* Set the desired width of your container */
  height: 500px; /* Set the desired height of your container */
  border: none; /* Optional: adds a border to visualize the container */
  overflow: hidden; /* Hides any part of the video that might spill out */
}

.introcontainer video {
  position: relative;
  width: 100%; /* Makes the video take the full width of its container */
  height: 100%; /* Makes the video take the full height of its container */
  object-fit: cover; /* Ensures the video covers the container area while maintaining aspect ratio (may crop edges) */
  z-index: -1;
}

.overlay-text {
    font-size: 60px;
    position: absolute; /* Positions the text relative to the container */
    top: 55%; /* Starts positioning from 50% down from the top */
    left: 50%; /* Starts positioning from 50% across from the left */
    transform: translate(-50%, -50%); /* Centers the text perfectly */
    z-index: 1; /* Ensures the text is on top of the video */
    color: white; /* Makes text visible against a dark video */
    text-align: center;
    padding: 0% 0%;
    text-shadow: 2px 2px 4px #000000;
    line-height: 1.2;
}

.introsub {
    font-size: 35px;
}

.bodymain {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  padding: 50px 0;
}

.bodymain .bodytext {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 50%;
}


#bodyh1 {
  position: relative;
  color: var(--primary-color);
  margin: 7rem 3rem;
  font-size: 3rem;
  width: 100%;
}

.bodymain .bodyimg {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 45%;
  margin: 1rem 3rem;
}

.bodyimg video{
  border-radius: 10px;
}

.bodyp {
  position: relative;
  color: var(--secondary-color);
  font-size: 1rem;
  width: 100%;
  margin: 2rem 3rem;
}

.bodypbutton {
  position: relative;
  font-size: 1rem;
  color: var(--secondary-color);
  height: fit-content;
  width: 10%;
  margin: 0rem 1rem;
  color: var(--secondary-color);
  background-color: var(--body-bg-color);
  border: var(--secondary-color) 1px solid;
}

.bodypbutton:hover {
  cursor: pointer;
  color: var(--body-bg-color);
  background-color: var(--secondary-color);
}

.hover-container {
  position: relative;
  font-size: 1rem;
  color: var(--primary-color);
  width: 15%;
  padding: 5px 5px;
  cursor: pointer;
  display: inline-flex; /* Use flexbox to align text and arrow */
  align-items: center;
  gap: 5px; /* Space between text and arrow */
  margin: 0.5rem 3rem;
}

.arrow {
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease-in-out; /* Smooth transition */
  font-size: 1.7em; /* Adjust arrow size */
  color: #333;
  color: var(--primary-color);
}

.hover-container:hover .arrow {
  opacity: 1; /* Visible on hover */
}

.cryptocontainer {
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
}

#cryptoh2 {
  font-size: 26px;
  margin-bottom: 20px;
  color: var(--primary-color);
  text-align: center;
}

.crypto-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
  
}

.crypto-card {
  padding: 15px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  
}

.crypto-card:hover {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.2);
}

.crypto-card img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.crypto-card h3 {
  font-size: 18px;
  margin: 5px 0;
}
.crypto-card p {
  font-size: 16px;
  margin: 5px 0;
}

.green { color: #4caf50; }
.red { color: #ff5252; }

@media (max-width: 600px) {
  .crypto-list {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}


.shortcuts {
  margin: 5rem 1.5rem;
}

#shortcuth1 {
  color: var(--primary-color);
  font-size: 3rem;
  text-align: center;
}

.box1 {
  width: 17rem;
  height: 17rem;
  background-color: var(--primary-color);
  outline: var(--primary-color) 2px solid;
  border: var(--body-bg-color) 2px solid;
  display: inline-block;
  margin: 1rem 0.5rem;
}

.quicklinks {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: var(--body-bg-color);
  position: relative;
  margin: 2rem 4rem;
}

#quickicon {
  font-size: 5rem;
  margin: 2px 2px;
  color: var(--primary-color);
}

.quicklinksp {
  font-size: 1rem;
  color: var(--body-bg-color);
  margin: 1rem 1rem;
}

h5 {
  font-size: large;
  text-align: center; 
  color: white;
  margin-bottom: 1rem;
}
.slider{
  width: 100%;
  height: var(--height);
  overflow: hidden;
  background-color: white;
  margin-top: 1rem;
  mask-image: linear-gradient(
      to right,
      transparent,
      #000 10% 90%,
      transparent
  );
}
.slider .list{
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}
.slider .list .item{
  width: var(--width);
  height: var(--height);
  position: absolute;
  justify-content: center;
  left: 100%;
  animation: autoRun 10s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1) - 10s)!important;
}
.slider .list .item img{
  width: 100%;
}
@keyframes autoRun{
  from{
      left: 100%;
  }to{
      left: calc(var(--width) * -1);
  }
}
.slider:hover .item{
  animation-play-state: paused!important;
  filter: grayscale(1);
}
.slider .item:hover{
  filter: grayscale(0);
}
.slider[reverse="true"] .item{
  animation: reversePlay 10s linear infinite;
}
@keyframes reversePlay{
  from{
      left: calc(var(--width) * -1);
  }to{
      left: 100%;
  }
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
  
}
ul{
	list-style: none;
}
.footer{
    padding: 70px 0;
}

.footerlogo img {
  width: 100px;
}

.footer-col{
   width: 20%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: var(--primary-color);
	text-transform: capitalize;
	margin: 0 2.5rem 35px 2.5rem;
	font-weight: 700;
	position: relative;
}

.footer-col h4:hover {
  cursor: pointer;
  color: var(--secondary-color);
}